@import "foundation/settings", "foundation";
@import "_foundation-icons.scss";
@import "mixins";
/*---------------------------------------------------------------------------------
 1. CSS Reset
-------------------------------------------------------------------------------*/
$teal: #00BDBD;
$darkGray: #474d5d;
$lightGray2: #eee;
$lightRed: #FF675F;
$lightGray3: #8e8e8e;
$lightGray4: #f3f3f3;
$darkPurple2: #474d5d;
$darkPurple3: #585f73;

* {
	padding:0;
	margin:0;
}
body {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	position:relative;
	background:#000;
	width:100%;
	height:100%;
	overflow: scroll;
	overflow-x: hidden;
}
a {
	text-decoration:none;
	color:#fff;
	outline:none;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: 0;
}



/*Pic slider*/
.es-pic-slider-wrapper{

	ul {
		margin: 0;
	}
	.es-picture {
		position: absolute;
		padding:0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		list-style: none;

	    div.pic {
	    	background-size: cover;
	    	background-position: 50% 50%;
	    	width: inherit;
	    	height: inherit;
	    }
	}
}

//===========================================

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/*NAV BAR*/
header {
	position: relative;
	z-index: 2;
	width: 100%;
	height: auto;
}
#main {
	position: relative;
	z-index: 1;
}
#nav-bar-wrapper {
	position: relative;
	z-index: 2;

	&.stuck-on-top{
		width: 100%;
	}

	.top-bar-section {
	@media screen and (min-width: $small-breakpoint){
			text-align: center;
			ul{
				&.center{
					display: inline-block;
				}
			}
		}

		@media screen and (min-width: $small-breakpoint) and (max-width: $medium-breakpoint){
			height: 62px;
			line-height: initial;
			.menu-item{
				a {
					padding: 0 1rem;
					font-size: 0.8rem;
				}
			}
		}

	}
}

//===================================================

.cv-item{
	width: 100%;
	height: auto;
	padding: 85px 30px 30px 30px;

	.heading {
		text-align: center;
		padding-bottom: 45px;
		span{
			font-weight: 400;
			font-size: 0.875rem;
		}
	}

	h2, h3, h4, h5 {
		color: inherit;
		text-align: inherit;
	}
	h2 {
		font-size: 2.25rem;
		font-weight: 300;
		line-height: 2.25rem;
		margin-bottom: 0;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.125rem;
		margin-bottom: 25px;
	}

	h5 {
		font-size: 0.875rem;
	}

}
.max-width
{
	max-width: 1200px;
	margin-left: auto;
    margin-right: auto;
}

main{
	width: 100%;
	height: auto;
}
/*HOME*/
#home
{
	position: relative;
	z-index: 1;
	height: calc(100% - 62px);
	width: 100%;
	height: auto;

	#pic-slider
	{
		z-index: 1;
		//min-height: 450px;
		@media screen and (min-width: $small-breakpoint)
		{
			//min-height: 600px;
		}
	}

	#banner-wrapper
	{
		z-index: 2;
	    position: absolute;
	    top: 0;
	    left: 0;
			right: 0;
			bottom: 0;
	    background-color: rgba(27,31,43,.7);
	    color: white;
	    h1, h3
	    {
	    	color: inherit;
	    	font-family: 'Open Sans', sans-serif;
	    }



	    .banner-box
	    {
				position: absolute;
				top: calc(50% - 68px);
				left: calc(50% - 203px);
	    	text-align: center;
				padding: 20px 5px;
	    	border: 1px solid white;
	    	box-sizing: border-box;

	    	h1
	    	{
		    	font-size: 2.62rem;
		    	text-transform: uppercase;
		    	font-weight: 700;
		    	margin: 0;
		    	padding-bottom: 10px;
		    }

		    h3
		    {
		    	font-size: 1.12rem;
		    	font-weight: 300;
		    	margin: 0;
		    }

		    &:before, &:after
		    {
		    	display: table;
   				content: " ";
		    }

		    @media screen and (min-width: $small-breakpoint)
		    {
		    	padding: 30px 10px;
		    	max-width: 549px;
					top: calc(50% - 94.5px);
					left: calc(50% - 274.5px);
		    	h1
		    	{
		    		font-size: 3.5rem;
		    	}
		    	h3
		    	{
		    		font-size: 1.75rem;
		    	}
		    }

		    @media screen and (min-width: $medium-breakpoint)
		    {
		    	max-width: 795px;
					padding: 30px 20px;
					top: calc(50% - 115px);
					left: calc(50% - 397.5px);
		    	h1
		    	{
		    		font-size: 5rem;
		    	}
		    	h3
		    	{
		    		font-size: 2.125rem;
		    	}
		    }
	    }

	}
}

#about {
	background-color: $teal;
	color: white;

	.content{
		p{
			font-size: 0.875rem;
		}

		.bntDownload {
	    font-size: 1rem;
	    font-weight: 700;
	    background: $darkGray;
	    padding: 16px 22px;
	    display: inline-block;
		}

		.pic-container{
			text-align: center;
			img {
				width: 300px;
				border-radius: 50%;
				display: inline-block;
			}
		}
	}

}

#technical {
	background-color: $lightGray2;
	color: $darkGray;

	.heading {
		h2 {
			color: $lightRed;
		}
	}

	.chart {
		text-align: center;
		margin-bottom: 50px;
		.piechart {
			width: 152px;
			margin: 0 auto;
			position: relative;
			.percentage{
				position: absolute;
				top: 64px;
				left: 64px;
			}
		}

		canvas{
			display: inline-block;
			margin-bottom: 26px;
		}

		.chart-info {
			h4 {
				font-weight: 600;
				margin-bottom: 6px;
				font-size: 1,1875rem;
			}
			p {
				line-height: 1.1rem;
				font-size: 0.9rem;
				color: $lightGray3;
			}
		}
	}

}//End of technical

#experience {
	background-color: white;
	color: $darkGray;

	.heading {
		h2 {
			color: $lightRed;
		}

		span
		{
			color: $lightGray3;
		}
	}

	.experience-card
	{
		.card-heading
		{
			width: 100%;
			text-align: center;
			margin-bottom: 40px;
			.buble
			{
				background-color: $lightRed;
				color: white;
				padding: 40px 0 40px 0;
				text-align: center;
				width: 120px;
				height: 120px;
				border-radius: 50%;
				display: inline-block;

				p
				{
					margin: 0;
				}
			}

		}

		.description-container
		{
			width: 100%;
			.description
			{
				background-color: $lightGray4;
				border-bottom: solid 4px $lightGray2;
	    		padding: 22px 47px 6px 47px;

				h4
				{
					font-size: 1rem;
					margin-bottom: 0;
					&.title
					{
						font-size: 1.1875rem;
						font-weight: 600;
					}
					&:last-of-type
					{
						margin-bottom: 6px;
					}
				}

				p
				{
					line-height: 1.1rem;
					font-size: 0.9rem;
					color: $lightGray3;
				}

				position: relative;
				&::before{
					@include triangle(
						$direction : top,
						$position  : top -1rem,
						$color     : $lightGray4,
						$size: 1rem
					);

					left: calc(50% - 1rem);
				}
			}
		}

		margin-bottom: 50px;
	}

	@media screen and (min-width: $small-breakpoint)
	{
		.experience-card
		{
			.card-heading,
			.description-container
			{
				vertical-align: top;
				display: inline-block;
			}
			.card-heading
			{

				max-width: 140px;
				width: 140px;
				text-align: left;
				.buble
				{
					width: 140px;
					height: 140px;
					padding-top: 50px;
				}
			}
			.description-container
			{
				width: calc(100% - 186px);
				box-sizing: border-box;
				padding-left: 30px;
				margin-left: 30px;
				border-left: 1px solid $lightGray4;
				.description
				{
					padding-left: 50px;
					&::before
					{
						@include triangle(
							$direction : left,
							$position  : top 1rem left -2rem,
							$color     : $lightGray4,
							$size: 1rem
						);

					}
				}
			}
		}
	}

} //End of experience

#education {
	background-color: $lightGray4;
	color: $darkGray;

	.heading {
		h2 {
			color: $lightRed;
		}
		span
		{
			color: $lightGray3;
		}
	}

	.experience-card
	{
		.card-heading
		{
			width: 100%;
			text-align: center;
			margin-bottom: 40px;
			.buble
			{
				background-color: $lightRed;
				color: white;
				padding: 50px 0 50px 0;
				text-align: center;
				width: 120px;
				height: 120px;
				border-radius: 50%;
				display: inline-block;

				p
				{
					margin: 0;
				}
			}

		}

		.description-container
		{
			width: 100%;
			.description
			{
				background-color: white;
				border-bottom: solid 4px $lightGray2;
	    		padding: 22px 47px 6px 47px;

				h4
				{
					font-size: 1rem;
					margin-bottom: 0;
					&.title
					{
						font-size: 1.1875rem;
						font-weight: 600;
					}
					&:last-of-type
					{
						margin-bottom: 6px;
					}
				}

				p
				{
					line-height: 1.1rem;
					font-size: 0.9rem;
					color: $lightGray3;
				}

				position: relative;
				&::before{
					@include triangle(
						$direction : top,
						$position  : top -1rem,
						$color     : white,
						$size: 1rem
					);

					left: calc(50% - 1rem);
				}
			}
		}

		margin-bottom: 50px;
	}

	@media screen and (min-width: $small-breakpoint)
	{
		.experience-card
		{
			.card-heading,
			.description-container
			{
				vertical-align: top;
				display: inline-block;
			}
			.card-heading
			{

				max-width: 140px;
				width: 140px;
				text-align: left;
				.buble
				{
					width: 140px;
					height: 140px;
					padding-top: 60px;
				}
			}
			.description-container
			{
				width: calc(100% - 186px);
				box-sizing: border-box;
				padding-left: 30px;
				margin-left: 30px;
				border-left: 1px solid $lightGray4;
				.description
				{
					padding-left: 50px;
					&::before
					{
						@include triangle(
							$direction : left,
							$position  : top 1rem left -2rem,
							$color     : white,
							$size: 1rem
						);

					}
				}
			}
		}
	}

} //End of Education


#contact {
	$map-height: 408px;
	background-color: $lightGray4;
	color: $darkGray;

	.heading {
		h2 {
			color: $lightRed;
		}
		span
		{
			color: $lightGray3;
		}
	}

	.map-container
	{
		background: url(../assets/img/map-bro.png);
		padding-top: 4px;
		padding-bottom: 4px;
		height: $map-height;
		position: absolute;
		left: 0;
		right: 0;
		overflow: hidden;
		width: 100%;
		margin: 0;
	}

	.contents
	{
		background-color: $darkPurple2;
		margin-top: $map-height;

		font-size: 0.81rem;
		line-height: 1.5rem;
		color: $lightGray;

		h3
		{
			color: white;
			font-size: 1.18rem;
			margin-bottom: 15px;
		}

		.contact-info
		{
			margin-bottom: 50px;
			.detail-container
			{
				.icon
				{
					font-size: 1rem;
					margin-right: 25px;
				}

				a
				{
					color: inherit;
					&:hover
					{
						color: white;
					}
				}
			}
		}

		.contact-form
		{
			input[type="text"],
			textarea
			{
				background-color: $darkPurple3;
				border: none;
				color: inherit;
				padding: 15px 20px;
				font-family: inherit;
				height: auto;
				margin-bottom: 25px;

				@include placeholder {
					color: $lightGray3;
				}

			}
			textarea
			{
				min-height: 6rem;
			}

			button
			{
				float: right;
				@include clearfix;
				background-color: $lightRed;
				font-weight: bold;
			}

		}
	}

	#map-canvas
	{
		height: $map-height - 8;
	}

	@media screen and (min-width: $small-breakpoint)
	{
		.contents
		{
			.contact-info
			{
				margin-bottom: 0;
			}
		}
	}

} //End of Contact

footer
{
	text-align: center;
	background-color: $teal;
	.social-media
	{
		padding: 40px;
		a
		{
			margin: 5px;
			span
			{
				&.icon
				{
					display: inline-block;
					color: white;
					width: 42px;
					height: 42px;
					line-height: 42px;
					font-size: 42px;
				}
			}
		}

	}

}
